---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// seafoam 
//$sf-1:  #a3c1ad;
//$sf-2:  #a0d6b4;
//$sf-3:  #5f9ea0;
//$sf-4:  #317873;
//$sf-5:  #49796b;

$sf-1: #b8ecd7;
$sf-2: #083643;
$sf-3: #b1e001;
$sf-4: #cef09d;
$sf-5: #476c5e;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

body {
  background-color: $sf-5;
  color: $sf-1;
}

h1, h2, h3, h4, h5, h6 {
  color: $sf-4;
  font-weight: 300;
}

#container {
  padding-top: 40px;
}

#definition {
  margin-bottom: 40px;
}

#logo {
  padding: 0;
}

.navbar-theme {
  background-color: $sf-1;
}

.definition {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

@import "palette"
