#sf-1 {
  background-color: $sf-1;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
}

#sf-2 {
  background-color: $sf-2;
  position: fixed;
  bottom: 0px;
  left: 50px;
  width: 50px;
  height: 50px;
}

#sf-3 {
  background-color: $sf-3;
  position: fixed;
  bottom: 0px;
  left: 100px;
  width: 50px;
  height: 50px;
}

#sf-4 {
  background-color: $sf-4;
  position: fixed;
  bottom: 0px;
  left: 150px;
  width: 50px;
  height: 50px;
}

#sf-5 {
  background-color: $sf-5;
  position: fixed;
  bottom: 0px;
  left: 200px;
  width: 50px;
  height: 50px;
}
